body {
    margin: 0;
    padding: 0;
    background: black;
}

#titlediv {
    font-family: monospace;
    text-align: center;
    font-size:48px;
    position:fixed;
    width:100%;
    height:50px;
    color:white;
    background-color:black;
    padding:5px;
    top:0px;
    overflow-y: auto;
}

#attackdiv {
    font-family: monospace;
    font-size:10px;
    position:fixed;
    width:50%;
    height:100px;
    color:white;
    background-color:black;
    padding:5px;
    bottom:0px;
    overflow-y: auto;
}

#container1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height:100%
}

#about {
    display: hidden;
}

#aboutdiv {
    text-align:right;
    width:100px;
    height:100px;
    top:0px;
    right:0px;
    position:fixed;
    padding:10px;
    color: white;
}

#ccdiv {
    text-align:right;
    width:100px;
    height:20px;
    bottom:0px;
    right:0px;
    position:fixed;
    padding:5px;
    color: white;
}

#about {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:460px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
#simplemodal-container a.modalCloseImg {
    background:url(../x.png) no-repeat; /* adjust url as required */
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-18px;
    cursor:pointer;
}
.toggle
{
    cursor: pointer;
    text-decoration: underline;
}
.disconnected{
    color:red;
}
.connected{
    color:deepskyblue;
}